<section class="bg-gray-100 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                {% embed 'composants/_titre-h1.html.twig' %}
                    {% block titre %}Créer votre auto-école{% endblock %}
                {% endembed %}
                {{ form_start(form) }}
                <div class="m-4">
                    {{ form_row(form.name, {
                        label: 'Nom auto-école',
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'},
                        'attr': {'class': 'bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'},
                    }) }}
                </div>

                <div class="m-4">
                    {{ form_row(form.siret, {
                        label: 'Numéro de siret',
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'},
                        'attr': {'class': 'bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'},
                    }) }}
                </div>

                <div class="m-4">
                    {{ form_row(form.number, {
                        label: 'Numéro',
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'},
                        'attr': {'class': 'bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'},
                    }) }}
                </div>

                <div class="m-4">
                    {{ form_row(form.address, {
                        label: 'Adresse auto école',
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'},
                        'attr': {'class': 'bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'},
                    }) }}
                </div>

                <div class="m-4">
                    {{ form_row(form.zipCode, {
                        label: 'Adresse auto école',
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'},
                        'attr': {'class': 'bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'},
                    }) }}
                </div>

                <div class="m-4">
                    {{ form_row(form.city, {
                        label: 'Ville',
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'},
                        'attr': {'class': 'bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'},
                    }) }}
                </div>


                <div class="mt-6">
                    {% embed 'composants/_buttonValidation.html.twig' %}
                        {% block p %}Créer{% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
</section>
{{ form_end(form) }}