{% extends 'base.html.twig' %}

{% block title %}Invoice index
{% endblock %}

{% block body %}
	<h1>Invoice index</h1>

	{% include "composants/_searchData.html.twig" with { form: form} only %}
	{{ include('composants/_adminSideBar.html.twig') }}




	<section class="ml-64">
		<div>
			<a href="{{ path('app_invoice_index') }}">Reset filtre</a>
			<a href="{{ path('app_invoice_index', {'typePayment': 'Espèce'}) }}">Espèce</a>
			<a href="{{ path('app_invoice_index', {'typePayment': 'Carte'}) }}">Carte</a>
			<a href="{{ path('app_invoice_index', {'typePayment': 'Chèque'}) }}">Chèque</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Date</th>
					<th>TypePayment</th>
					<th>Price</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for invoice in invoices %}
					<tr>
						<td>{{ invoice.id }}</td>
						<td>{{ invoice.name }}</td>
						<td>{{ invoice.description }}</td>
						<td>{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>
						<td>{{ invoice.typePayment }}</td>
						<td>{{ invoice.price }}</td>
						<td>
							<a href="{{ path('app_invoice_show', {'id': invoice.id}) }}">show</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			 <a href="{{ path('app_invoice_new') }}">Create new</a>
	</section>

	{% endblock %}
