{% extends 'base.html.twig' %}

{% block title %}Invoice index
{% endblock %}

{% block body %}
	<section class="dark:bg-dark-mode-primary">
		{{ include('composants/header.html.twig') }}
		<section class="ml-64 mt-32">
 			{% include 'composants/_adminSideBar.html.twig' with {'current_page': 'invoice'} %}
			<div class='m-6'>

				<div
					class='flex items-center justify-between'
				>
					<div
						class='text-white flex'
					>
						<a class='bg-red-primary border border-primary dark:border-black dark:bg-dark-dark-purple px-6 py-2 rounded-tl rounded-bl hover:bg-opacity-80 transition ease-in-out duration-100' href="{{ path('app_invoice_index') }}">Réinitialiser filtre</a>
						<a class='bg-red-primary border border-primary dark:border-black dark:bg-dark-dark-purple px-6 py-2 hover:bg-opacity-80 transition ease-in-out duration-100' href="{{ path('app_invoice_index', {'typePayment': 'Espèce'}) }}">Espèce</a>
						<a class='bg-red-primary border border-primary dark:border-black dark:bg-dark-dark-purple px-6 py-2 hover:bg-opacity-80 transition ease-in-out duration-100' href="{{ path('app_invoice_index', {'typePayment': 'Carte'}) }}">Carte</a>
						<a class='bg-red-primary border border-primary dark:border-black dark:bg-dark-dark-purple px-6 py-2 rounded-tr rounded-br hover:bg-opacity-80 transition ease-in-out duration-100' href="{{ path('app_invoice_index', {'typePayment': 'Chèque'}) }}">Chèque</a>
					</div>
					<div class='flex items-center gap-6'>
						<div class='flex items-center rounded'>
							{% include "composants/_searchData.html.twig" with { form: form, placeholder: 'Chercher par nom, description' } only %}
						</div>

						<input class='bg-red-primary dark:bg-dark-dark-purple text-white p-2 rounded' type="date">
						
						<div class='flex gap-2 bg-blue-primary rounded p-2 pointer'>
							<span class="material-symbols-outlined flex-shrink-0 w-5 h-5 text-white">add</span>
							<a class='text-white mr-2' href="{{ path('app_invoice_new') }}">Créer nouveau</a>
						</div>
					</div>
				</div>

				{% include 'composants/_table.html.twig' with {'columns': [
						['name', 'Nom', true],
						['description', 'Description', true], 
						['price', 'Prix', true],
						['typePayment', 'Type de paiment', true],
						['actions', 'Actions', false] 
					], 
					'datas': invoices,
					'showAction': ['Voir', 'app_invoice_show']
					} 
				%}

			</div>
		</section>
	</section>

	{% endblock %}
